@{
    ViewData["Title"] = "Error pagina";
}

<div class="text-center">
    <h1 class="text-primary">Oopsie!</h1>
    <h2 class="display-5">Het lijkt erop dat er iets fout gelopen is.</h2>
    <h3 class="display-6">Onze excuses voor het ongemak</h3>
    <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary">Terug naar dashboard</a>
    
</div>
<div class="text-center mt-3">
    <img src="../../images/17829489475image.jpg" alt="Oopsie" width="50%" height="50%"/>
</div>