@model AP.MyTreeFarm.Application.CQRS.Trees.CreateTreeDTO
@using FluentValidation.Results

@{
    ViewData["Title"] = "Aanmaken boom";
}



<h2 class="text-primary"> Boom toevoegen</h2>
@{
    @if (ViewData["Errors"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <ul class="mb-0">
                @foreach (var error in ViewData["Errors"] as IList<ValidationFailure>)
                {
                    <li>
                        @error.ErrorMessage
                    </li>
                }
            </ul>
        </div>
    }
}
<form method="post" asp-controller="Tree" asp-action="Create" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Naam</label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Foto (.jpg/.png/.jpeg)</label>
        <input type="file" class="form-control" name="PictureUrl" />
        <span class="text-danger" asp-validation-for="PictureUrl"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Instructies (.pdf)</label>
        <input type="file" class="form-control" name="InstructionsUrl" />
        <span class="text-danger" asp-validation-for="InstructionsUrl"></span>
    </div>

    <div class="form-group row">
        <div class="col-8 offset-2 row">
            <div class="col">
                <button type="submit" class="btn btn-primary w-75">Maak aan</button>
            </div>
            <div class="col">
                <a class="btn btn-danger w-75" href="javascript: history.go(-1);">Terug</a>
            </div>
        </div>
    </div>
</form>
