@model AP.MyTreeFarm.Application.CQRS.Employees.EmployeeDTO
@using FluentValidation.Results
@{
    ViewData["Title"] = "Werknemer aanpassen";
}

<h2 class="text-primary"> Werknemer aanpassen</h2>
@{
    @if (ViewData["Errors"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <ul class="mb-0">
                @foreach (var error in ViewData["Errors"] as IList<ValidationFailure>)
                {
                    <li>
                        @error.ErrorMessage
                    </li>
                }
            </ul>
        </div>
    }
}
<form method="post" asp-action="Update">
    <div class="mb-3">
        <label class="form-label" asp-for="EmployeeId">Personeelsnummer</label>
        <input asp-for="EmployeeId" class="form-control"/>
        <span class="text-danger" asp-validation-for="EmployeeId"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="FirstName">Voornaam</label>
        <input asp-for="FirstName" class="form-control"/>
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="LastName">Achternaam</label>
        <input asp-for="LastName" class="form-control"/>
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email"></label>
        <input asp-for="Email" type="email" class="form-control"/>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-3 form-check">
        @Html.CheckBoxFor(e => e.IsAdmin)
        <label class="form-check-label" asp-for="IsAdmin">Admin</label>
    </div>
    <div class="mb-3 form-check">
        @Html.CheckBoxFor(e => e.IsActive)
        <label class="form-check-label" asp-for="IsActive">Actief</label>
    </div>
    <div class="form-group row">
        <div class="col-8 offset-2 row">
            <div class="col">
                <button type="submit" class="btn btn-primary w-75">Update</button>
            </div>
            <div class="col">
                <a class="btn btn-danger w-75" href="javascript: history.go(-1);">Terug</a>
            </div>
        </div>
    </div>
</form>